
body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    padding: 0%;
    margin: 0%;
}


header{
    background-color: #e21833;
    color: #000;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    padding: 5em;
}

nav {
    
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    text-align: center;
    background-color: white;
    font-size: 25px;
    margin:0;
    margin-bottom: 0;
}
h1{
    text-align: center;
}
main{
    padding:25px;
}
h2{
    text-align: center;
    background-color: #000;
    color: white;  
    padding-top: 35px; 
    border-radius: 5px;
}
section{
    /*border: solid #000 3px;
    border-radius: 3px;*/
    padding:0;
    margin: 0%;
}
.siteInfo{
    background-color: #7f7f7f;
    padding: .5rem;
    padding-top: 1rem;
    border-radius: 5px;
}
.color-schema{
    background-color: #7f7f7f;
    padding: .5rem;
    padding-top: 1rem;
    border-radius: 5px;
}
h3{
    text-decoration: underline black;
    font-size: 20px;  
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
.schema{
    width: 100%;
}
.wireframe{
    background-color: #7f7f7f;
}
.displayWireframe{
    width: 500px;
    padding: 5px;
}
.mobileWireframe{  
    width: 500px;
    padding: 5px;
}

footer{
    position: relative;
    position: absolute-bottom;
    left: 0;
    bottom: 0;
    height:100px;
    width: 100%;
    background-color: #ffd200;
    padding-top: 5px;
}
footer p{
    
    /*grid-template-columns: 1fr;*/
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: 000;
    margin-top: 1rem;
    margin-bottom: 0;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;


}
/*hamburger menu*/ 
#menu::before {
	content: "☰";
    color: #000;
    
}

#menu.open::before {
	content: "✖";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}
.navigation .active{
    text-decoration: underline white;
}
.navigation a {
	display: none;
	padding: 1rem;
    background-color: #ffd200;
	text-align: center;
	text-decoration: none;
	color: #000;
    
}
.navigation a:hover {
	background-color: #000;
	color: white;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}


