@media screen and (min-width: 900px){
    nav {
        padding: 0;
    }
    /*nav ul {
        display: flex;
        justify-content:space-around;
    }*/
    h1 {
        text-align:center;
        margin: 0;
        grid-column: 1/span2;
        font-size: 50px;
        color: white; 
    }
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
    main {
        display: grid;
        grid-template-rows: 10em 1fr 1fr;

        grid-gap: 20px;
    }
    h2{
        display:grid;
        text-align: center;
        font-size: 25px;
        grid-row: 1;
        color:white;
        
    }
    .siteInfo{
        display: grid;
        grid-row: 2;
        
    }
    .colorSchema{
        display: grid;
        grid-row: 3;
    }
    .schema{
        width: 500px;
        grid-column: 1;
    }
    .wireframe{
        display: grid;
    }
    .displayWireframe{
        grid-column: 1;
    }
    .mobileWireframe{
        grid-column: 2;
    }
    iframe{
      width: 100%;
      height: 100%;
    }

}