body {
    font-family: arial, Georgia , Verdana;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
    margin: 0%;

}

header{
    background-color: #2F4F4F;
    color:rgb(255, 254, 254);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
    grid-column: 2/4;
    text-align: center;
    padding-top: 100px;
    margin: 0%;
   
}
main{
  padding:25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
section{
    border: solid black .5px;
    border-radius: 5px;
    margin-bottom: 5%;
    text-align: center;
}
section h2 {
    background-color: #2F4F4F;
    color:white;
    padding: 25px;
    margin-top: 0;
   
}
section p{
    text-align: left;
    padding-left: 20px;
}
footer p{
    background-color: #2F4F4F;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;

}
img{
    border: solid black 1px;
}
ul li{
    padding: .5rem;
}
@media screen and (max-width: 640px){
    header,main,footer{
        grid-template-columns: 1fr;
        grid-column: auto;
    }
}
@media screen and (min-width: 500px){

    header,main,footer{
        grid-template-columns: 1fr 1fr;
    }
}