:root{
    --primary-color:black;
    --secondary-color: #9D081C;
    --accent1-color: #FFD200;
    --accent2-color: white;
}
body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    padding: 0%;
    margin: 0%;

}
header{
    background-color: #000;
    color:white;
    display: grid;
    margin-bottom: 0%;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
    background-color: white;
    font-size: 25px;
    margin:0;
    margin-bottom: 0;
}
#menu {
    position: absolute;
    border: 0;
    background: none;
    color: white;
    top: 6em;
    font-size: 2em;
}
#menu::before {
    content: "☰";
    color: black;
    
}

#menu.open::before {
    content: "✖";
    color: black;
}
.navigation {
    display:flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}
.navigation a{
    display: none;
    padding: 1rem;
    background-color: #ffd200;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.navigation a:hover {
    background-color: #000;
    color: white;
    font-weight: 700;
}
.open a {
    display: block;
}
.social{
    width: 50%;
}
.social a{
    color: #000;
}
main{
    padding:0px;
}
.hero-image{
    width: 100%;
}
.call-to-action{
    position: absolute;
    right: 23rem;
    top:15rem;
    font-size: 3rem;
    padding: .2rem;
    border-radius: .2rem;

}
.cityinfo h3,.spotlights h3{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline var(--accent2-color);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: .2rem;
    border-radius: .2rem;
}
.cityinfo p, .spotlights p{
    font-size: 2rem;
    text-align: center;
}
.call-to-action{
    position: absolute;
    color: #000;
    background-color: #FFD200;
    text-align: center;
    text-decoration: none;
}
.call-to-action:hover{
    background-color: var(--primary-color);
    color:var(--accent2-color);
    text-decoration: underline var(--accent2-color);
}
.pagelink{
    color: var(--accent2-color);
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: .2rem;
    
}
.pagelink:hover{
    background-color: var(--secondary-color);
    color:var(--accent2-color);
    text-decoration: underline var(--accent2-color);
}
footer{
    position: relative;
    position: absolute-bottom;
    left: 0;
    bottom: 0;
    height:100px;
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 4rem;
}
footer p{
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: 000;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #fff;
}
.year{
    color: #fff;
}
.contact h3{
    padding: 0;
    text-align: center;
    font-size: .2rem;   
    color: #fff;
}
