:root{
    --primary-color:black;
    --secondary-color: #9D081C;
    --accent1-color: #FFD200;
    --accent2-color: white;
}
body{
    font-family: "Lora", serif;
    font-weight:400;
    font-style: normal;
    padding: 0%;
    margin: 0%;

}
header{
    background-color: #000;
    color:white;
    display: grid;
    margin-bottom: 0%;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
    background-color: white;
    font-size: 25px;
    margin:0;
    margin-bottom: 0;
}
#menu {
    margin-left: 24rem;
    border: 0;
    background: none;
    color: white;
    font-size: 3em;
}
#menu::before {
    content: "☰";
    color: black;
    
}

#menu.open::before {
    content: "✖";
    color: black;
}
.navigation {
    display:flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}
.navigation a{
    display: none;
    padding: 1rem;
    background-color: #ffd200;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    color: #000;
}
.navigation a:hover {
    background-color: #000;
    color: white;
    font-weight: 700;
}
.open a {
    display: block;
}
.hero{
    display: grid;

}
main{
    padding:0px;
}
.hero-image{

    width: 100%;
}
.call-to-action{
    top: 20%;
    left: 40%;
    font-size: 3rem;
    padding: .5rem;
    border-radius: .5rem;
}

.cityinfo h3,.spotlights h3{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline var(--accent2-color);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: .2rem;
    border-radius: .2rem;
}
.cityinfo p, .spotlights p{
    font-size: 2rem;
    text-align: center;
}
.call-to-action{
    position: absolute;
    color: #000;
    background-color: #FFD200;
    text-align: center;
    text-decoration: none;
}
.call-to-action:hover{
    background-color: var(--primary-color);
    color:var(--accent2-color);
    text-decoration: underline var(--accent2-color);
}
.spotlights, .cityinfo{
    text-align: center;
}
.pagelink{
    color: var(--accent2-color);
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: .2rem;
    font-size: 2rem;
    
}
.pagelink:hover{
    background-color: var(--secondary-color);
    color:var(--accent2-color);
    text-decoration: underline var(--accent2-color);
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    height:100px;
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 4rem;
}
footer p{
    padding: 0;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #fff;
}
.year{
    color: #fff;
}
.contact h3{
    padding: 0;
    text-align: center;
    font-size: 10px;   
    color: #fff;
}
/*.discovery-info{
    display: grid;
    grid-template-rows: 600px 600px 600px 600px 600px 600px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 1em;
}*/
/*.southern-food,.money-muscle,.zinnia-bar,.hertiage-day,.salsa-dancing,.classic-cars{
    grid-column: 2;
    
}
.southern-food img,.money-muscle img,.zinnia-bar img,.hertiage-day img,.salsa-dancing img,.classic-cars img{
    width: 500px;
    height:500px;
}*/
.southern-food img:hover,.money-muscle img:hover,.zinnia-bar img:hover,.hertiage-day img:hover,.salsa-dancing img:hover,.classic-cars img:hover{
    box-shadow: 0 0 50px #333;
}
 /*.foodspots{
    grid-row: 3/span 4;
    grid-column: 1;
}
.events{
    grid-row: 5/span 6;
    grid-column: 1;

}*/


.demographics h1, .events h1, .foodspots h1{
    background-color: black;
    color: white;
    padding: 2rem;
}
/*.demographics{
    grid-row: 2;
    grid-column: 1;

}*/
.demographics p, .events p, .foodspots p{
    font-size: 25px;
}
.demographics h2, .events h2, .foodspots h2{
    font-size: 30px;
}
.demographics li{
    padding: 10px;
    font-size: 30px;
}
.events ul li{
    font-size: 25px;
}
.contact h2{
    text-align: center;
    font-size: 2rem;
}
#visit{
    text-align: center;
    color: #000;
    font-size: 40px;
}
picture p{
    font-size: 20px;
}

/*.joinus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 1em;
}*/
.joinus h1 {
    background-color: #000;
    color: #fff;
    padding: .50rem;
    border: solid 1px black;
    border-radius: 6px;
}
.applicant, .membershipInfo {
    background-color: #FFD200;
    color: black;
    padding: .50rem;
    border: solid 1px black;
    border-radius: 6px;
    font-size: 20px;
}
.form input[type ="text"],
.form input[type ="email"],
.form input[type ="tel"],
.form input[textarea ="discription"]
{
    background-color: white;
    display: block;
    border: solid 1px black;
    border-radius: 6px;
    padding: .50rem;
    color: #000;
    width: 100%;
    max-width: 400px;
}
.form input[type = "radio"]{
    margin-right: 6px;
}
.form button{
    margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 25px;
}
.form label{
    display: block;
    padding-top: 5px;
    font-size: 15px;

}
.membershipDiscriptions h2{
    font-size: 30px;
}
.membershipDiscriptions p{
    font-size: 20px;
}